{
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": [2, "always"],
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "consistent-return": 0,
    "curly": [2, "all"],
    "eqeqeq": [2, "allow-null"],
    "new-cap": [2, { "capIsNewExceptions": ["Router"] }],
    "no-eq-null": 2,
    "no-param-reassign": 0,
    "strict": [2, "global"]
  }
}
